@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@600;700;800;900&family=Explora&family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:wght@300;400;500;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poiret+One&family=Poppins:wght@100;200;400;600;700;800&family=Six+Caps&display=swap');

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 62px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 6rem;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(27, 167, 209);
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin-left: 5rem;
    color: pink;
}

p {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 16px;
    margin-left: 5rem;
    margin-right: 5rem;
}

blockquote {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 16px;
    font-style: italic;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 3rem;
}

section p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: -1rem;
}

.container {
    display: flex;
}

.col1 {
    background-color: white;
    flex: 5;
    height: 100vh;
    overflow: scroll;
}
  
.col2 {
    background-color: black;
    flex: 5;
    height: 100vh;
    color: whitesmoke;
    overflow: scroll;
}

#last {
    margin-bottom: 3rem;
}

#backtotop {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: #f4d6db;
    position:fixed;
    bottom:1.5rem;
    right: 2rem;
}

a {
    text-decoration: none;
    color: rgb(233, 135, 235);
}
